
*{
  box-sizing:border-box;
}

html{
  height:100%;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  background: linear-gradient(180deg, rgba(255,132,0,1) 0%, rgba(255,130,179,1) 100%);
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: .25vh;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff82b3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icons {
  position: absolute;
  right: 1.7vw;
}

#call, #search, #more {
  padding-left: 5vw;
}

.brand {
  display: flex;
  align-items: center;
}

#logo {
  width: 6vw;
  padding-left: .75vw;
  padding-right: .7vw;
}

@media screen and (max-width:1166px) {
  .header{font-size:2.5vh;}
  #logo{width:9vw;}
  #call, #search, #more{width:9vw;}
}


.text-input {
  border: .1vw solid white;
  border-radius: 50px;
  position: absolute;
  bottom: 0px;
  height: 9vh;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  padding-left: .6vh;
  padding-right: .6vh;
  margin-bottom: 1.5vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444444;
  outline: none;
  width: 97vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
  border-radius: 35px;
  border: solid 1px white;
  padding-left: 15px;
  height: 7vh;
  font-size: 1.5vw;

}

input:hover {
  border: solid 1px #ff82b3;
}

.message-icons {
  display: flex;
}

.message-icons img {
  width: 2.5vw;
  padding-right: .25vw;
  padding-left: .25vw;
}

@media screen and (max-width:1166px) {
  input{font-size:3vh;}
  .message-icons img{width:5vw;}
}

button {
  height: 10vh;
  width: 10vh;
  font-size: 10vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

button:hover {
  background-color:  #ff82b3;
  color: white;
}





