
*{
  box-sizing:border-box;
}

html{
  height:100%;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  background: linear-gradient(180deg, rgba(255,132,0,1) 0%, rgba(255,130,179,1) 100%);
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: .25vh;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff82b3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icons {
  position: absolute;
  right: 1.7vw;
}

#call, #search, #more {
  padding-left: 5vw;
}

.brand {
  display: flex;
  align-items: center;
}

#logo {
  width: 6vw;
  padding-left: .75vw;
  padding-right: .7vw;
}

@media screen and (max-width:1166px) {
  .header{font-size:2.5vh;}
  #logo{width:9vw;}
  #call, #search, #more{width:9vw;}
}

.text-input {
  height: 8.5vh;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: .1vw solid white;
  border-radius: 50px;
  padding-top: .4vw;
  padding-bottom: .4vw;
  padding-left: .4vw;
  padding-right: .4vw;
  margin-bottom: 1.5vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444444;
  outline: none;
  width: 90.5vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input {
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  width: 100%;
  border-radius: 35px;
  border: solid 1px white;
  padding-left: 2vw;
  margin-right: .4vw;
  height: 7vh;
  font-size: 1.5vw;
}

input:hover {
  border: solid 1px #ff82b3;
}

.message-icons {
  display: flex;
}

.message-icons img {
  width: 2.5vw;
  padding-right: .25vw;
  padding-left: .25vw;
}

@media screen and (max-width:1166px) {
  input{font-size:3vh;}
  .message-icons img{width:5vw;}
}

button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 8.25vh;
  width: 8.25vh;
  margin-right: 1.5vw;
  margin-left: 500px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(270deg);
  margin-bottom: 1.5vw;
  border: 1px solid white;
}

b {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 10px;
  transform: rotate(270deg);
  font-size: 5vh;
}

button:hover {
  background-color:  #ff82b3;
  color: white;
}

.message {
  background-color: white;
  opacity: 0.8;
  padding: .75vw;
  font-size: 1.5vw;
  border-radius: 1.25vh;
  margin-bottom: 2vh;
  margin-left: 1.5vw;
  display: table;
  max-width: 50%;
  min-width: 150px;
}

@media screen and (max-width:1166px) {
  .message{font-size: 2vw;}
  input{font-size: 3vw;}
}

.messages {
  height: 87vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  justify-content: flex-start;
}




